import(RcppArmadillo)
importFrom("stats", "dnorm", "dpois", "dunif", "rgamma", "rnorm","runif", "sd", "var")
import(Rcpp)
import(coda)
import(svMisc)
useDynLib(ReDDLeslie, .registration = TRUE)
export(DDLeslie_sampler)
export(get_hypo_Lambdas_helper)
export(get_hypo_Lambdas)
export(getLeslie)
export(ProjectHarvest)
export(getAerialCount)
export(eyes)

