import(RcppArmadillo)
importFrom("stats", "dnorm", "dpois", "dunif", "rgamma", "rnorm","runif", "sd", "var")
import(Rcpp)
import(coda)
import(svMisc)
import(ggplot2)
useDynLib(ReCAP, .registration = TRUE)
export(ReCAP_sampler)
export(analysisLambda)
export(plot.ReCAP_lambda)
export(summary.ReCAP_sample)
export(getLeslie)
export(ProjectHarvest)
export(getAerialCount)
export(eyes)

